@import './base.css';


*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}


body {
  font-family: 'Helvetica Neue', Arial, sans-serif;
  background-color: #1a1a1a;
  color: #e3e0e0;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}


.App {
  width: 100%;
  max-width: 600px;
  padding: 2rem;
  background-color: #000;
  border-radius: 13px;
  box-shadow: 10px 10px 5px #0f0f0f;
  text-align: center;
}

h1 {
  font-size: 2rem;
  color: #dbdbdb;
  margin-bottom: 1.5rem;
}


form {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}


input {
  width: 100%;
  padding: 1rem;
  border-radius: 9px;
  font-size: 1rem;
  background-color: #4c4d4d;
  cursor: pointer;
  transition: border-color 0.3s;
}

button {
  padding: 1rem;
  background-color: #4c4d4d;
  color: white;
  border: none;
  border-radius: 9px;
  font-size: 1rem;
  cursor: pointer;
  transition: background-color 0.3s;
}

button:hover {
  background-color: #e5e6e6;
  color: black;
}

button:disabled {
  background-color: #272727;
  cursor: not-allowed;
}


p {
  margin-top: 1rem;
  font-size: 1rem;
  color: #e8e8e8;
}

label {
  font-size: 1rem;
  background-color: #4c4d4d;
  height: 7vh;
  width: 15vh;
  color: #9a9a9a;
  margin-bottom: 0.5rem;
  display: block;
}


@media (max-width: 720px) {
  .text {
    font-size: 20px;
  }
}

@media (max-width: 620px) {
  .versions {
    display: none;
  }
}

@media (max-width: 350px) {
  .tip,
  .actions {
    display: none;
  }
}
